extends ../layout
block styles
  link(rel='stylesheet', href='/plugins/datatables/css/dataTables.bootstrap.css')
block content
  .main
    .row
      .panel.panel-default
        .panel-heading
          h2 DANH SÁCH NGƯỜI LIÊN HỆ
        .panel-body
          table#data.table.table-striped.table-bordered
            thead
              tr
                th Stt
                th Tỉnh
                th Tên công ty
                th Địa chỉ
                th Người liên hệ
                th SĐT
                th Chức vụ
            tbody
              //- #data
              //-   if data
                //- - for (var val in data)
                //-   tr
                //-     td #{val}
                //-       - var item = data[val]
                //-       td #{item.CityID}
                //-       td #{item.ci_Name}
                //-       td #{item.ci_Address}
                //-       td #{item.ct_Name}
                //-       td #{item.ct_Phone}
                //-       td #{item.ct_Job}
block scripts
  script(src='/plugins/datatables/js/jquery.dataTables.min.js')
  script(src='/plugins/datatables/js/dataTables.bootstrap.js')
  script.
    $(document).ready(function() {
      $('#data').DataTable();
    } );
    //- #orderId
    //-   if orderId
    //-     Order number: #{orderId}
    //- #query
    //-   if query
    //-     p #{query}